---
import { Picture } from "@astrojs/image/components";

import "../styles/index.scss";
import { ARTICLE_DATA } from "../articleData";
import { COLORS } from "../constants";
import BlogPreviewCard from "../components/BlogPreviewCard.astro";
import Button from "../components/Button.astro";
import ButtonLink from "../components/ButtonLink.astro";
import CalebText from "../components/CalebText.astro";
import Card from "../components/Card.astro";
import CarolText from "../components/CarolText.astro";
import Clouds from "../components/Clouds.astro";
import Col from "../components/Col.astro";
import HalftoneDivider from "../components/HalftoneDivider.astro";
import Grid from "../components/Grid.astro";
import Heart from "../components/Heart.astro";
import Layout from "../layouts/Layout.astro";
import LightBulb from "../components/LightBulb.astro";
import LightningBolt from "../components/LightningBolt.astro";
import MagnifyingGlass from "../components/MagnifyingGlass.astro";
import Megaphone from "../components/Megaphone.astro";
import Section from "../components/Section.astro";
import ServiceCard from "../components/ServiceCard.astro";
import SplashLogo from "../components/SplashLogo.astro";
import TechSolutionCard from "../components/TechSolutionCard.astro";
import UpArrow from "../components/UpArrow.astro";

import caleb from "../images/caleb-halftone.png";
import carol from "../images/carol-halftone.png";
import dashboard from "../images/dashboard.png";
import dataManagement from "../images/data-management.png";
import website from "../images/website.png";
---

<Layout title="Tech with an impact | Neon Carrot">
  <main class="bg-orange--desat">
    <Section deep>
      <Grid>
        <Col size={10} start={2} mdSize={10} mdStart={2} smSize={4} smStart={0}>
          <SplashLogo />
          <h1 class="hide">Neon Carrot</h1>
          <h2 class="heading-3 center is-light spv-12 slogan">
            Tech with an impact
          </h2>
          <div class="center from-bottom splash-buttons" id="trigger">
            <ButtonLink class="sph-8" color="red" href="#services">
              See our services
            </ButtonLink>
            <ButtonLink color="orange" href="#contact">
              Get in contact
            </ButtonLink>
          </div>
        </Col>
      </Grid>
    </Section>
    <Section class="position-relative internal-anchor" id="about" shallow>
      <Grid extended>
        <Col size={12}>
          <Card class="who-we-are-card" color={COLORS.red}>
            <Grid>
              <Col size={6} mdSize={5} smSize={4}>
                <h1>Who<br />we are</h1>
                <div class="card-images-container">
                  <div class="image-container carol fade-in from-bottom">
                    <div class="pic-text">
                      <CarolText />
                    </div>
                    <Picture
                      class="me-image carol"
                      src={carol}
                      height={177}
                      width={191}
                      alt="Image of Carol with a halftone pop art effect"
                      loading="lazy"
                      formats={["webp"]}
                      widths={[191, 382]}
                      sizes="(min-width: 1160px) 191px, 382px"
                    />
                  </div>
                  <div class="image-container caleb fade-in from-bottom">
                    <div class="pic-text">
                      <CalebText />
                    </div>
                    <Picture
                      class="me-image caleb"
                      src={caleb}
                      height={202}
                      width={233}
                      alt="Image of Caleb with a halftone pop art effect"
                      loading="lazy"
                      formats={["webp"]}
                      widths={[233, 466]}
                      sizes="(min-width: 1160px) 233px, 466px"
                    />
                  </div>
                </div>
              </Col>
              <Col size={6} mdSize={7} smSize={4}>
                <div class="spv-8 hide--small"></div>
                <h2 class="heading-4">
                  Neon Carrot is an IT consultancy dedicated to serving
                  not-for-profits.
                </h2>
                <p>
                  We are a couple of passionate and creative problem-solvers
                  with first-hand experience in the not-for-profit space. We
                  know how things can go - having to wrestle IT systems that are
                  bursting at the seams, and untangling processes that get in
                  the way of the real work. It’s time for an upgrade!
                </p>
                <p>
                  Our mission is to maximise the positive impacts of
                  not-for-profit organisations by using our skills and expertise
                  in IT and project management. Let’s work together on
                  innovative tech solutions that empower your team to provide
                  better services, make better decisions and be better prepared
                  for the future.
                </p>
                <p class="spv-0">
                  <a class="link" href={ARTICLE_DATA.welcomeToNeonCarrot.href}>
                    <strong class="link-underline">Find out more »</strong>
                  </a>
                </p>
              </Col>
            </Grid>
          </Card>
        </Col>
      </Grid>
      <HalftoneDivider class="divider-1" color="yellow" />
      <div class="divider-filler"></div>
    </Section>
    <Section class="bg-yellow--desat no-pb internal-anchor" id="services">
      <Section class="no-pt">
        <Grid>
          <Col size={6} mdSize={5} smSize={4}>
            <h1>What<br />we do</h1>
          </Col>
          <Col size={6} mdSize={7} smSize={4}>
            <div class="spv-8 hide--small"></div>
            <h2 class="heading-4">
              Engage, enhance and empower your organisation for digital success.
            </h2>
            <p>
              Collaboration is key. We work closely with clients to fully
              understand their IT challenges and goals, then deliver tech
              solutions from inception through to design, development and
              implementation.
            </p>
            <p class="spv-6">
              Tech opportunities and challenges come in many shapes and sizes,
              but we are ready to partner up, share our knowledge and set your
              team on the path to digital greatness.
            </p>
            <p>
              <ButtonLink color="red" href="#contact">
                Let's get in touch!
              </ButtonLink>
            </p>
          </Col>
        </Grid>
      </Section>
      <Section class="no-pt">
        <Grid>
          <Col size={12}>
            <h2>Explore opportunities</h2>
          </Col>
        </Grid>
        <Grid>
          <Col size={12}>
            <div class="service-cards">
              <ServiceCard
                color={COLORS.yellow}
                title="Supercharge efficiency"
                message="Free your team to tackle bigger tasks! Automate the mundane for maximum productivity."
              >
                <LightningBolt />
              </ServiceCard>
              <ServiceCard
                color={COLORS.redLight}
                title="Boost satisfaction"
                message="Improve the look and feel of your websites and apps to better engage with your community."
              >
                <Heart />
              </ServiceCard>
              <ServiceCard
                color={COLORS.orange}
                title="Upgrade skills"
                message="Empower your team for digital success! Build skills and confidence to excel."
              >
                <UpArrow />
              </ServiceCard>
            </div>
          </Col>
        </Grid>
      </Section>
      <Section class="no-pt">
        <Grid>
          <Col size={12}>
            <h2>Solve challenges</h2>
          </Col>
        </Grid>
        <Grid>
          <Col size={12}>
            <div class="service-cards">
              <ServiceCard
                color={COLORS.purpleMid}
                title="Master your data"
                message="Company data has a habit of growing out of control. Take charge so finding and storing information is a breeze."
              >
                <MagnifyingGlass />
              </ServiceCard>
              <ServiceCard
                color={COLORS.orangeLight}
                title="Illuminate insights"
                message="A lack of effective reporting is like trying to see in the dark. Shine a light on what's important to understand your impact."
              >
                <LightBulb />
              </ServiceCard>
              <ServiceCard
                color={COLORS.blue}
                title="Embrace the cloud"
                message="Paper-based processes are time-consuming and prone to error. Save costs and improve security using cloud services."
              >
                <Clouds />
              </ServiceCard>
            </div>
          </Col>
        </Grid>
      </Section>
      <HalftoneDivider color="purple" />
    </Section>
    <Section class="bg-purple--desat is-light no-pb" deep>
      <Section class="no-pt" shallow>
        <Grid>
          <Col size={6}>
            <h1>Tech<br />solutions</h1>
          </Col>
          <Col size={6}>
            <div class="spv-8 hide--small"></div>
            <h2 class="heading-4">
              Fuel your organisation’s success with digital technology.
            </h2>
            <p>
              At the heart of every not-for-profit is a passion to change the
              world for the better, so you deserve technology that empowers
              rather than impedes. Let us help you elevate your performance with
              these innovative tech solutions.
            </p>
          </Col>
        </Grid>
      </Section>
      <Section shallow>
        <Grid>
          <Col size={5} mdSize={5} smSize={4}>
            <div class="fade-in from-left">
              <TechSolutionCard
                img={{
                  src: dataManagement,
                  alt: "Vector cartoon of two workers funneling data objects into an orderly stack",
                }}
              />
            </div>
          </Col>
          <Col size={6} start={7} mdSize={6} mdStart={7} smSize={4} smStart={1}>
            <div class="fade-in from-right">
              <h2>Intuitive data capture and management systems</h2>
              <p>
                Streamline and automate the process of collecting, organising
                and managing data to make it easier to access, analyse and
                extract insights.
              </p>
            </div>
          </Col>
        </Grid>
      </Section>
      <Section shallow>
        <Grid>
          <Col class="hide--small" size={6} mdSize={6} smSize={4}>
            <div class="fade-in from-left">
              <h2>Interactive dashboards that use live, real-time data</h2>
              <p>
                Drill down, explore and gain deeper understanding of the
                operation of your business. Harness the power of data to inform
                decision-making and understand the impact of your services.
              </p>
            </div>
          </Col>
          <Col size={5} start={8} mdSize={5} mdStart={8} smSize={4} smStart={1}>
            <div class="fade-in from-right">
              <TechSolutionCard
                img={{
                  src: dashboard,
                  alt: "Vector cartoon of a woman standing in front of a whiteboard with metrics",
                }}
              />
            </div>
          </Col>
          <Col class="hide--large" size={6} mdSize={6} smSize={4}>
            <div class="fade-in from-bottom">
              <h2>Interactive dashboards that use live, real-time data</h2>
              <p>
                Drill down, explore and gain deeper understanding of the
                operation of your business. Harness the power of data to inform
                decision-making and understand the impact of your services.
              </p>
            </div>
          </Col>
        </Grid>
      </Section>
      <Section shallow>
        <Grid>
          <Col size={5} mdSize={5} smSize={4}>
            <div class="fade-in from-left">
              <TechSolutionCard
                img={{
                  src: website,
                  alt: "Vector cartoon of a laptop showing a data dashboard",
                }}
              />
            </div>
          </Col>
          <Col size={6} start={7} mdSize={6} mdStart={7} smSize={4} smStart={1}>
            <div class="fade-in from-right">
              <h2>Modern and accessible websites and apps</h2>
              <p>
                Establish credibility, engage stakeholders and provide access to
                services with well-designed, user-friendly websites and
                applications.
              </p>
            </div>
          </Col>
        </Grid>
      </Section>
      <Section shallow />
      <HalftoneDivider color="purpleLight" />
    </Section>
    <Section class="bg-purple--light no-pb" deep>
      <Grid>
        <Col size={6} mdSize={5} smSize={4}>
          <h1>Latest<br />articles</h1>
        </Col>
        <Col size={6} mdSize={7} smSize={4}>
          <div class="spv-8 hide--small"></div>
          <h2 class="heading-4">
            Insights on technology, the not-for-profit sector, and where the two
            intersect.
          </h2>
          <p>
            <ButtonLink color="orange" href="/articles">
              See all articles
            </ButtonLink>
          </p>
        </Col>
      </Grid>
      <Section shallow>
        <Grid>
          {
            Object.entries(ARTICLE_DATA)
              .slice(0, 3)
              .map(([, article], i) => (
                <Col size={4} mdSize={6} smSize={4}>
                  <BlogPreviewCard {...article} />
                </Col>
              ))
          }
        </Grid>
      </Section>
      <HalftoneDivider color="yellow" />
    </Section>
    <Section class="bg-yellow--desat" deep id="contact">
      <Grid extended>
        <Col size={12}>
          <Card class="get-in-touch-card" color="orange">
            <Grid>
              <Col size={6} mdSize={6} smSize={4}>
                <h1>Get in touch</h1>
                <div class="contact-item">
                  <div class="contact-icon">
                    <svg
                      fill={COLORS.orange}
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                    >
                      <path
                        d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                      ></path>
                      <path
                        d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                      ></path>
                    </svg>
                  </div>
                  <p class="contact-details">
                    <strong>Email address</strong><br />
                    <a href="mailto:info@neoncarrot.com.au"
                      >info@neoncarrot.com.au</a
                    >
                  </p>
                </div>
                <div class="hide--small">
                  <Megaphone />
                </div>
              </Col>
              <Col size={6} mdSize={6} smSize={4}>
                <div class="spv-8 hide--small"></div>
                <h2 class="heading-4">We'd love to hear from you.</h2>
                <form
                  name="contact"
                  method="POST"
                  data-netlify="true"
                  data-netlify-recaptcha="true"
                >
                  <div class="text-input">
                    <label for="name">Name</label>
                    <input
                      autocomplete="name"
                      name="name"
                      id="name"
                      required
                      type="text"
                    />
                  </div>
                  <div class="text-input">
                    <label for="email">Email address</label>
                    <input
                      autocomplete="email"
                      name="email"
                      id="email"
                      required
                      type="email"
                    />
                  </div>
                  <div class="text-input">
                    <label for="subject">Subject</label>
                    <input name="subject" id="subject" required type="text" />
                  </div>
                  <div class="textarea">
                    <label for="message">Message</label>
                    <textarea
                      name="message"
                      id="message"
                      required
                      maxlength="1000"
                      rows="4"></textarea>
                  </div>
                  <div class="spv-4">
                    <div data-netlify-recaptcha="true"></div>
                  </div>
                  <Button class="submit-button" type="submit">
                    <span style={{ padding: "0 0.75rem" }}>Send</span>
                  </Button>
                </form>
              </Col>
            </Grid>
          </Card>
        </Col>
      </Grid>
    </Section>
  </main>

  <script>
    document.querySelectorAll(".fade-in").forEach((el) => {
      if (!window.IntersectionObserver) {
        el.classList.add("is-visible");
      }
      const observer = new IntersectionObserver(
        ([entry]) => {
          if (entry.isIntersecting || entry.boundingClientRect.top < 0) {
            el.classList.add("is-visible");
          }
        },
        { threshold: 0.5 }
      );
      observer.observe(el);
    });

    window?.addEventListener("load", () => {
      const slogan = document.querySelector(".slogan");
      const splashButtons = document.querySelector(".splash-buttons");
      [slogan, splashButtons].forEach((el) => {
        if (el) {
          el.classList.add("fade-in");
          el.classList.add("is-visible");
        }
      });
    });
  </script>

  <style lang="scss">
    @import "../styles/variables.scss";

    .fade-in {
      opacity: 0;
      position: relative;
      transition: none 1s cubic-bezier(0, 0, 0.2, 1) 0.25s;
      transition-property: all;

      &.is-visible {
        opacity: 1 !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
      }

      &:not(.is-visible) {
        &.from-bottom {
          top: 2rem;
        }

        &.from-top {
          top: -2rem;
        }

        &.from-left {
          left: -2rem;
        }

        &.from-right {
          left: 2rem;
        }

        @media only screen and (max-width: $breakpoint-medium) {
          &.from-bottom,
          &.from-left,
          &.from-right {
            left: 0;
            top: 2rem;
          }
        }
      }
    }

    .slogan {
      letter-spacing: 0.1em;
      margin-top: -2rem;
      opacity: 0;
      position: relative;
      transition: all 1s cubic-bezier(0, 0, 0.2, 1) 2.75s;

      &.is-visible {
        letter-spacing: 0;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        margin-top: -4em;
      }
    }

    .splash-buttons {
      opacity: 0;
      position: relative;
      transition: all 1s cubic-bezier(0, 0, 0.2, 1) 3s;
      top: 2rem;
    }

    .card-images-container {
      align-items: flex-end;
      bottom: 0;
      display: flex;
      left: 2rem;
      position: absolute;
      max-width: 50%;

      .image-container {
        position: relative;

        &.caleb {
          transition-delay: 0.75s;
        }
      }

      .me-image {
        block-size: auto;
        display: block;
        filter: drop-shadow(-0.75rem 0 0 $color-orange);
        mix-blend-mode: multiply;

        &.caleb {
          padding-left: $spacing-4;
        }
      }

      @media only screen and (max-width: $breakpoint-large) {
        max-width: 39%;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        left: 1rem;
        max-width: 90%;
      }
    }

    .pic-text {
      position: absolute;

      .carol & {
        width: 26%;
        left: 66%;
        top: -24%;
      }

      .caleb & {
        width: 24%;
        left: 4%;
        top: -16%;
      }
    }

    .divider-1 {
      position: absolute;
      width: 100%;
      top: calc(50% - 103px);
    }

    .divider-filler {
      background-color: $color-yellow-desat;
      position: absolute;
      width: 100%;
      height: calc(50% - 103px);
      top: calc(50% + 103px);
    }

    .who-we-are-card {
      padding: $spacing-12 $spacing-8;

      @media only screen and (max-width: $breakpoint-large) {
        padding: $spacing-8 $spacing-6;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        padding-bottom: $spacing-64;
      }

      @media only screen and (max-width: $breakpoint-small) {
        padding-bottom: $spacing-48;
      }
    }

    .service-cards {
      display: flex;
      column-gap: 2rem;

      @media only screen and (max-width: $breakpoint-medium) {
        flex-direction: column;
      }
    }

    .get-in-touch-card {
      padding: $spacing-12 $spacing-8 $spacing-0 $spacing-8;

      @media only screen and (max-width: $breakpoint-large) {
        padding: $spacing-8 $spacing-6 $spacing-0 $spacing-6;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        padding-bottom: $spacing-8;
      }
    }

    .megaphone {
      block-size: auto;
      bottom: -37px;
      left: 0px;
      max-width: 500px;
      position: absolute;
      width: 50%;
    }

    .contact-item {
      display: flex;
      margin-bottom: $spacing-4;
    }

    .contact-icon {
      height: 1.25rem;
      width: 1.25rem;
    }

    .contact-details {
      padding-left: $spacing-3;
    }

    .submit-button {
      margin-bottom: $spacing-8;
    }
  </style>
</Layout>
