---
import { Picture } from "@astrojs/image/components";

import Card from "./Card.astro";
import type { ArticleData } from "../articleData";

export type Props = ArticleData & {
  class?: string;
};

const {
  author,
  class: className,
  color,
  date,
  href,
  imgAlt,
  imgSrc,
  title,
}: Props = Astro.props;
---

<div class={className}>
  <a class="link" href={href}>
    <Card class="card" bgColor={color} color={color} containerClass="spv-12">
      <Picture
        alt={imgAlt}
        class="image"
        formats={["webp"]}
        height={300}
        loading="lazy"
        sizes="(min-width: 768px) 496px, (min-width: 456px) 720px, 412px"
        src={imgSrc}
        width={720}
        widths={[496, 720, 412]}
      />
      <div class="content">
        <span class="display-inline-block spv-2">
          <h3 class="heading-5 title">
            {title}
          </h3>
        </span>
        <p class="spv-0">
          <em>{author}, {date}</em>
        </p>
      </div>
    </Card>
  </a>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .link {
    border-radius: 1rem;
    color: $color-white !important;
    display: block;
    text-decoration: none;

    &:focus,
    &:focus-within {
      outline: 4px solid $color-blue;
      outline-offset: 0 !important;

      .title {
        background-size: 100% 2px;
      }
    }

    &:hover {
      .title {
        background-size: 100% 2px;
      }
    }
  }

  .card {
    height: 300px;
    position: relative;

    &::after {
      background: linear-gradient(
        to top,
        rgba(36, 36, 48, 1) 0%,
        rgba(36, 36, 48, 0.9) 25%,
        rgba(36, 36, 48, 0) 66%
      );
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  .image {
    display: block;
    filter: brightness(1.5);
    height: 300px;
    mix-blend-mode: multiply;
    object-fit: cover;
    position: absolute;
    z-index: 0;
  }

  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    padding: 1rem;
    position: relative;
    z-index: 100;
  }

  .title {
    display: inline;
    background: linear-gradient(to left, $color-white, $color-white);
    background-size: 0 2px;
    background-position: 0 100%, 100% 100%;
    background-repeat: no-repeat;
    transition: background-size cubic-bezier(0, 0, 0.2, 1) 400ms;
  }
</style>
