---
import { COLORS } from "../constants";
---

<svg
  width="200px"
  height="100%"
  viewBox="0 0 210 104"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Cartoon clouds moving left and right</title>
  <path
    class="small-cloud-1"
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M98.1912 77.7561C90.1549 76.519 84.0023 69.3972 84.0023 61.0394C84.0023 51.807 91.5099 44.3227 100.771 44.3227C101.988 44.3227 103.175 44.452 104.319 44.6975C104.376 35.6034 111.79 28.249 120.926 28.249C125.336 28.249 129.345 29.9631 132.319 32.7596C134.588 26.2058 140.83 21.498 148.175 21.498C157.114 21.498 164.419 28.4708 164.916 37.258C166.413 36.6319 168.056 36.2859 169.781 36.2859C176.726 36.2859 182.357 41.8991 182.357 48.8234C182.357 50.1693 182.144 51.4658 181.751 52.6811H182.357C189.303 52.6811 194.934 58.2943 194.934 65.2186C194.934 72.1428 189.303 77.7561 182.357 77.7561H98.1912Z"
    fill={COLORS.blue}></path>
  <path
    class="small-cloud-2"
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M107.663 61.9077C115.355 60.7055 121.244 53.7842 121.244 45.6619C121.244 36.6896 114.058 29.4161 105.193 29.4161C104.028 29.4161 102.892 29.5417 101.798 29.7804C101.742 20.9424 94.6471 13.7952 85.9026 13.7952C81.6809 13.7952 77.8436 15.461 74.9973 18.1787C72.826 11.8095 66.8515 7.23438 59.8213 7.23438C51.2654 7.23438 44.2731 14.0107 43.7971 22.5504C42.365 21.9419 40.792 21.6056 39.1414 21.6056C32.4933 21.6056 27.1039 27.0608 27.1039 33.79C27.1039 35.098 27.3076 36.3579 27.6845 37.539H27.1039C20.4558 37.539 15.0664 42.9941 15.0664 49.7233C15.0664 56.4526 20.4558 61.9077 27.1039 61.9077H107.663Z"
    fill={COLORS.blue}></path>
  <g class="big-cloud" filter="url(#big-cloud-filter)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M155.482 93.6029C166.159 91.9477 174.333 82.4185 174.333 71.2356C174.333 58.8824 164.359 48.8682 152.055 48.8682C150.438 48.8682 148.861 49.0412 147.342 49.3697C147.265 37.2015 137.416 27.3611 125.278 27.3611C119.418 27.3611 114.092 29.6546 110.141 33.3964C107.127 24.6272 98.8339 18.3281 89.0756 18.3281C77.1995 18.3281 67.4938 27.6579 66.8331 39.4154C64.8451 38.5776 62.6618 38.1146 60.3707 38.1146C51.1427 38.1146 43.6619 45.6253 43.6619 54.8902C43.6619 56.6911 43.9446 58.4258 44.4678 60.0519H43.6619C34.4339 60.0519 26.9531 67.5625 26.9531 76.8274C26.9531 86.0923 34.4339 93.6029 43.6619 93.6029H155.482Z"
      fill={COLORS.blue}></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M155.482 93.6029C166.159 91.9477 174.333 82.4185 174.333 71.2356C174.333 58.8824 164.359 48.8682 152.055 48.8682C150.438 48.8682 148.861 49.0412 147.342 49.3697C147.265 37.2015 137.416 27.3611 125.278 27.3611C119.418 27.3611 114.092 29.6546 110.141 33.3964C107.127 24.6272 98.8339 18.3281 89.0756 18.3281C77.1995 18.3281 67.4938 27.6579 66.8331 39.4154C64.8451 38.5776 62.6618 38.1146 60.3707 38.1146C51.1427 38.1146 43.6619 45.6253 43.6619 54.8902C43.6619 56.6911 43.9446 58.4258 44.4678 60.0519H43.6619C34.4339 60.0519 26.9531 67.5625 26.9531 76.8274C26.9531 86.0923 34.4339 93.6029 43.6619 93.6029H155.482Z"
      stroke={COLORS.white}
      stroke-width="4"></path>
  </g>
  <defs>
    <filter
      id="big-cloud-filter"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feDropShadow dx="4" dy="4" stdDeviation="0" flood-color={COLORS.orange}
      ></feDropShadow>
      <feDropShadow dx="4" dy="4" stdDeviation="0" flood-color={COLORS.yellow}
      ></feDropShadow>
    </filter>
  </defs>
</svg>

<style lang="scss">
  @import "../styles/variables.scss";

  @keyframes smallcloud1 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(0.75rem);
    }
  }

  @keyframes smallcloud2 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-0.75rem);
    }
  }

  @keyframes bigcloud {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-0.25rem);
    }
  }

  .big-cloud {
    animation: bigcloud 4s ease-in-out infinite alternate-reverse;
  }

  .small-cloud-1 {
    animation: smallcloud1 3.5s ease-in-out infinite alternate-reverse;
  }

  .small-cloud-2 {
    animation: smallcloud2 3s ease-in-out infinite alternate-reverse;
  }
</style>
