---
import { COLORS } from "../constants";
---

<svg
  width="100%"
  height="200px"
  viewBox="0 0 251 188"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Cartoon lightning bolt striking the ground</title>
  <path d="M0 0" fill={COLORS.yellow}>
    <animate
      attributeName="d"
      values="M0 0; M0 0; M214.063 55.5289L194.613 45.495C194.184 45.2733 193.657 45.3907 193.362 45.7738L157.114 92.8765C156.736 93.3684 156.892 94.0827 157.441 94.3715L167.884 99.8609C168.401 100.133 168.576 100.788 168.263 101.281L132.427 157.817C131.795 158.815 133.11 159.891 133.963 159.075L201.192 94.7742C201.688 94.2996 201.569 93.4776 200.959 93.1628L189.505 87.2538C188.927 86.9556 188.783 86.1938 189.212 85.7051L214.356 57.0775C214.785 56.5889 214.641 55.8271 214.063 55.5289Z; M214.063 55.5289L194.613 45.495C194.184 45.2733 193.657 45.3907 193.362 45.7738L157.114 92.8765C156.736 93.3684 156.892 94.0827 157.441 94.3715L167.884 99.8609C168.401 100.133 168.576 100.788 168.263 101.281L132.427 157.817C131.795 158.815 133.11 159.891 133.963 159.075L201.192 94.7742C201.688 94.2996 201.569 93.4776 200.959 93.1628L189.505 87.2538C188.927 86.9556 188.783 86.1938 189.212 85.7051L214.356 57.0775C214.785 56.5889 214.641 55.8271 214.063 55.5289Z; M245.425 57.2129L233.012 46.2742C232.649 45.9546 232.11 45.9401 231.731 46.2399L195.83 74.6147C195.343 74.9996 195.32 75.7305 195.783 76.1444L202.241 81.9242C202.676 82.3138 202.686 82.992 202.263 83.3943L166.03 117.817C165.174 118.63 166.187 119.995 167.213 119.411L228.229 84.7115C228.826 84.3721 228.911 83.5459 228.396 83.092L221.326 76.8614C220.838 76.4314 220.884 75.6574 221.419 75.288L245.332 58.7862C245.867 58.4168 245.913 57.6428 245.425 57.2129Z; M245.425 57.2129L233.012 46.2742C232.649 45.9546 232.11 45.9401 231.731 46.2399L195.83 74.6147C195.343 74.9996 195.32 75.7305 195.783 76.1444L202.241 81.9242C202.676 82.3138 202.686 82.992 202.263 83.3943L166.03 117.817C165.174 118.63 166.187 119.995 167.213 119.411L228.229 84.7115C228.826 84.3721 228.911 83.5459 228.396 83.092L221.326 76.8614C220.838 76.4314 220.884 75.6574 221.419 75.288L245.332 58.7862C245.867 58.4168 245.913 57.6428 245.425 57.2129Z; M245.51 62.5736L239.631 55.3062C239.327 54.9304 238.798 54.8258 238.374 55.0577L214.398 68.1713C213.854 68.4692 213.709 69.186 214.096 69.6715L216.865 73.1503C217.229 73.6073 217.126 74.2776 216.641 74.6033L194.13 89.7226C193.15 90.3809 193.92 91.896 195.029 91.4926L232.069 78.0248C232.714 77.7902 232.936 76.99 232.505 76.4562L229.515 72.7597C229.106 72.2541 229.281 71.4987 229.87 71.2242L245.154 64.109C245.744 63.8346 245.919 63.0792 245.51 62.5736Z; M245.51 62.5736L239.631 55.3062C239.327 54.9304 238.798 54.8258 238.374 55.0577L214.398 68.1713C213.854 68.4692 213.709 69.186 214.096 69.6715L216.865 73.1503C217.229 73.6073 217.126 74.2776 216.641 74.6033L194.13 89.7226C193.15 90.3809 193.92 91.896 195.029 91.4926L232.069 78.0248C232.714 77.7902 232.936 76.99 232.505 76.4562L229.515 72.7597C229.106 72.2541 229.281 71.4987 229.87 71.2242L245.154 64.109C245.744 63.8346 245.919 63.0792 245.51 62.5736Z"
      dur="4s"
      keyTimes="0; 0.925; 0.9251; 0.95; 0.951; 0.975; 0.9751; 1"
      repeatCount="indefinite"></animate>
  </path>
  <path d="M0 0" fill={COLORS.yellow}>
    <animate
      attributeName="d"
      values="M0 0; M0 0; M37.5871 43.0326L70.6875 35.6607C71.1289 35.5623 71.5814 35.7725 71.791 36.1732L100.31 90.6916C100.614 91.2727 100.286 91.9842 99.6467 92.1301L81.3765 96.2989C80.7895 96.4328 80.4531 97.0513 80.6596 97.6168L104.95 164.134C105.335 165.19 103.955 165.98 103.239 165.114L37.5193 85.5842C37.0436 85.0085 37.3438 84.1334 38.0728 83.9711L57.9466 79.5449C58.6261 79.3936 58.9469 78.6115 58.5694 78.0266L36.9643 44.5509C36.5868 43.966 36.9076 43.1839 37.5871 43.0326Z; M37.5871 43.0326L70.6875 35.6607C71.1289 35.5623 71.5814 35.7725 71.791 36.1732L100.31 90.6916C100.614 91.2727 100.286 91.9842 99.6467 92.1301L81.3765 96.2989C80.7895 96.4328 80.4531 97.0513 80.6596 97.6168L104.95 164.134C105.335 165.19 103.955 165.98 103.239 165.114L37.5193 85.5842C37.0436 85.0085 37.3438 84.1334 38.0728 83.9711L57.9466 79.5449C58.6261 79.3936 58.9469 78.6115 58.5694 78.0266L36.9643 44.5509C36.5868 43.966 36.9076 43.1839 37.5871 43.0326Z; M15.2874 44.945L35.5714 33.5647C35.9658 33.3435 36.4596 33.4144 36.7757 33.7378L66.6746 64.319C67.133 64.788 67.0236 65.5638 66.4534 65.8877L55.5887 72.0577C55.0652 72.355 54.9212 73.0442 55.2818 73.5263L83.9589 111.861C84.6321 112.76 83.5384 113.915 82.6035 113.292L23.913 74.1614C23.2917 73.7471 23.3272 72.8226 23.9785 72.4572L35.708 65.8764C36.3152 65.5357 36.3972 64.6944 35.8672 64.243L15.1283 46.5784C14.5983 46.127 14.6803 45.2856 15.2874 44.945Z; M15.2874 44.945L35.5714 33.5647C35.9658 33.3435 36.4596 33.4144 36.7757 33.7378L66.6746 64.319C67.133 64.788 67.0236 65.5638 66.4534 65.8877L55.5887 72.0577C55.0652 72.355 54.9212 73.0442 55.2818 73.5263L83.9589 111.861C84.6321 112.76 83.5384 113.915 82.6035 113.292L23.913 74.1614C23.2917 73.7471 23.3272 72.8226 23.9785 72.4572L35.708 65.8764C36.3152 65.5357 36.3972 64.6944 35.8672 64.243L15.1283 46.5784C14.5983 46.127 14.6803 45.2856 15.2874 44.945Z; M10.0269 52.0998L22.0961 41.616C22.4375 41.3194 22.9355 41.2889 23.3105 41.5415L48.1631 58.2808C48.707 58.6471 48.757 59.4291 48.2642 59.8617L42.0781 65.2919C41.6256 65.6891 41.6241 66.3931 42.0749 66.7922L66.1969 88.1456C67.0383 88.8904 66.2011 90.2426 65.1593 89.8215L20.4111 71.7349C19.7187 71.4551 19.5662 70.5426 20.13 70.0528L26.7223 64.3265C27.2479 63.8699 27.1578 63.0294 26.5474 62.6947L10.2019 53.7315C9.59149 53.3968 9.50137 52.5563 10.0269 52.0998Z; M10.0269 52.0998L22.0961 41.616C22.4375 41.3194 22.9355 41.2889 23.3105 41.5415L48.1631 58.2808C48.707 58.6471 48.757 59.4291 48.2642 59.8617L42.0781 65.2919C41.6256 65.6891 41.6241 66.3931 42.0749 66.7922L66.1969 88.1456C67.0383 88.8904 66.2011 90.2426 65.1593 89.8215L20.4111 71.7349C19.7187 71.4551 19.5662 70.5426 20.13 70.0528L26.7223 64.3265C27.2479 63.8699 27.1578 63.0294 26.5474 62.6947L10.2019 53.7315C9.59149 53.3968 9.50137 52.5563 10.0269 52.0998Z"
      dur="4s"
      keyTimes="0; 0.925; 0.9251; 0.95; 0.951; 0.975; 0.9751; 1"
      repeatCount="indefinite"></animate></path
  >
  <path d="M0 0" fill={COLORS.yellow}>
    <animate
      attributeName="d"
      values="M0 0; M0 0; M221.176 127.221L225.283 142.551C225.408 143.017 225.182 143.507 224.745 143.713L184.933 162.525C184.372 162.79 183.707 162.486 183.542 161.887L181.34 153.915C181.184 153.352 180.581 153.041 180.033 153.242L135.107 169.665C133.998 170.07 133.226 168.557 134.205 167.897L190.013 130.272C190.582 129.889 191.36 130.18 191.538 130.843L193.864 139.523C194.032 140.151 194.746 140.454 195.315 140.139L219.725 126.605C220.294 126.29 221.007 126.593 221.176 127.221Z; M221.176 127.221L225.283 142.551C225.408 143.017 225.182 143.507 224.745 143.713L184.933 162.525C184.372 162.79 183.707 162.486 183.542 161.887L181.34 153.915C181.184 153.352 180.581 153.041 180.033 153.242L135.107 169.665C133.998 170.07 133.226 168.557 134.205 167.897L190.013 130.272C190.582 129.889 191.36 130.18 191.538 130.843L193.864 139.523C194.032 140.151 194.746 140.454 195.315 140.139L219.725 126.605C220.294 126.29 221.007 126.593 221.176 127.221Z; M230.742 134.177L232.341 145.135C232.41 145.613 232.128 146.073 231.67 146.227L201.576 156.349C200.988 156.547 200.363 156.167 200.269 155.553L199.44 150.158C199.351 149.58 198.788 149.202 198.22 149.337L166.503 156.881C165.355 157.154 164.764 155.561 165.813 155.019L207.403 133.566C208.014 133.251 208.752 133.631 208.851 134.311L209.699 140.124C209.793 140.767 210.467 141.151 211.068 140.905L229.373 133.396C229.975 133.149 230.648 133.533 230.742 134.177Z; M230.742 134.177L232.341 145.135C232.41 145.613 232.128 146.073 231.67 146.227L201.576 156.349C200.988 156.547 200.363 156.167 200.269 155.553L199.44 150.158C199.351 149.58 198.788 149.202 198.22 149.337L166.503 156.881C165.355 157.154 164.764 155.561 165.813 155.019L207.403 133.566C208.014 133.251 208.752 133.631 208.851 134.311L209.699 140.124C209.793 140.767 210.467 141.151 211.068 140.905L229.373 133.396C229.975 133.149 230.648 133.533 230.742 134.177Z; M245.755 146.547L244.77 152.458C244.691 152.934 244.282 153.286 243.798 153.293L225.064 153.565C224.444 153.574 223.965 153.022 224.062 152.409L224.451 149.96C224.542 149.383 224.122 148.851 223.54 148.806L207.127 147.549C205.949 147.459 205.873 145.761 207.037 145.566L231.756 141.417C232.433 141.304 233.021 141.891 232.908 142.568L232.484 145.11C232.377 145.752 232.902 146.323 233.55 146.272L244.689 145.386C245.338 145.335 245.862 145.906 245.755 146.547Z; M245.755 146.547L244.77 152.458C244.691 152.934 244.282 153.286 243.798 153.293L225.064 153.565C224.444 153.574 223.965 153.022 224.062 152.409L224.451 149.96C224.542 149.383 224.122 148.851 223.54 148.806L207.127 147.549C205.949 147.459 205.873 145.761 207.037 145.566L231.756 141.417C232.433 141.304 233.021 141.891 232.908 142.568L232.484 145.11C232.377 145.752 232.902 146.323 233.55 146.272L244.689 145.386C245.338 145.335 245.862 145.906 245.755 146.547Z"
      dur="4s"
      keyTimes="0; 0.925; 0.9251; 0.95; 0.951; 0.975; 0.9751; 1"
      repeatCount="indefinite"></animate></path
  >
  <path d="M0 0" fill={COLORS.yellow}>
    <animate
      attributeName="d"
      values="M0 0; M0 0; M29.637 136.924L26.7166 149.862C26.6108 150.332 26.8537 150.81 27.2951 151L60.3195 165.285C60.8918 165.533 61.5486 165.202 61.6903 164.595L63.2217 158.037C63.3549 157.467 63.9474 157.133 64.5044 157.314L100.72 169.075C101.838 169.438 102.557 167.908 101.564 167.279L55.6996 138.206C55.1155 137.836 54.341 138.156 54.1888 138.831L52.588 145.922C52.4441 146.56 51.7365 146.891 51.155 146.591L31.07 136.255C30.4885 135.956 29.781 136.286 29.637 136.924Z; M29.637 136.924L26.7166 149.862C26.6108 150.332 26.8537 150.81 27.2951 151L60.3195 165.285C60.8918 165.533 61.5486 165.202 61.6903 164.595L63.2217 158.037C63.3549 157.467 63.9474 157.133 64.5044 157.314L100.72 169.075C101.838 169.438 102.557 167.908 101.564 167.279L55.6996 138.206C55.1155 137.836 54.341 138.156 54.1888 138.831L52.588 145.922C52.4441 146.56 51.7365 146.891 51.155 146.591L31.07 136.255C30.4885 135.956 29.781 136.286 29.637 136.924Z; M20.0263 142.928L19.2126 152.473C19.1718 152.952 19.4777 153.393 19.941 153.521L45.8373 160.725C46.438 160.892 47.0434 160.475 47.101 159.854L47.5233 155.299C47.5774 154.716 48.1187 154.304 48.6952 154.407L75.0757 159.127C76.233 159.334 76.7366 157.721 75.6669 157.233L40.1304 141.021C39.5013 140.734 38.7777 141.157 38.719 141.846L38.3044 146.708C38.2489 147.36 37.5931 147.783 36.9761 147.566L21.3546 142.07C20.7377 141.853 20.0819 142.277 20.0263 142.928Z; M20.0263 142.928L19.2126 152.473C19.1718 152.952 19.4777 153.393 19.941 153.521L45.8373 160.725C46.438 160.892 47.0434 160.475 47.101 159.854L47.5233 155.299C47.5774 154.716 48.1187 154.304 48.6952 154.407L75.0757 159.127C76.233 159.334 76.7366 157.721 75.6669 157.233L40.1304 141.021C39.5013 140.734 38.7777 141.157 38.719 141.846L38.3044 146.708C38.2489 147.36 37.5931 147.783 36.9761 147.566L21.3546 142.07C20.7377 141.853 20.0819 142.277 20.0263 142.928Z; M10.333 155.618L11.9774 160.387C12.1342 160.841 12.5923 161.12 13.0681 161.05L28.5771 158.773C29.194 158.682 29.5785 158.055 29.3796 157.464L28.7686 155.649C28.5818 155.094 28.9098 154.498 29.4786 154.359L42.0252 151.287C43.1672 151.008 42.974 149.329 41.7983 149.316L21.5025 149.095C20.811 149.087 20.3208 149.767 20.5462 150.421L21.1779 152.253C21.3911 152.871 20.9632 153.524 20.3112 153.576L11.1997 154.295C10.5477 154.347 10.1198 155 10.333 155.618Z; M10.333 155.618L11.9774 160.387C12.1342 160.841 12.5923 161.12 13.0681 161.05L28.5771 158.773C29.194 158.682 29.5785 158.055 29.3796 157.464L28.7686 155.649C28.5818 155.094 28.9098 154.498 29.4786 154.359L42.0252 151.287C43.1672 151.008 42.974 149.329 41.7983 149.316L21.5025 149.095C20.811 149.087 20.3208 149.767 20.5462 150.421L21.1779 152.253C21.3911 152.871 20.9632 153.524 20.3112 153.576L11.1997 154.295C10.5477 154.347 10.1198 155 10.333 155.618Z"
      dur="4s"
      keyTimes="0; 0.925; 0.9251; 0.95; 0.951; 0.975; 0.9751; 1"
      repeatCount="indefinite"></animate></path
  >
  <g class="big-bolt" filter="url(#big-bolt-filter)">
    <path
      d="M153.889 2.70508H113.11C109.554 2.70508 106.424 5.05337 105.429 8.46833L83.374 84.2064C81.8872 89.312 85.703 94.4203 91.0206 94.4431L105.131 94.5036C110.09 94.5249 113.836 99.0074 112.975 103.892L104.824 150.154C103.321 158.683 114.554 163.186 119.359 155.98L171.114 78.3512C174.658 73.0348 170.847 65.9134 164.458 65.9134H153.125C147.529 65.9134 143.662 60.3148 145.644 55.081L161.371 13.5375C163.352 8.30372 159.485 2.70508 153.889 2.70508Z"
      fill={COLORS.yellow}
    >
      <animateTransform
        attributeName="transform"
        type="translate"
        dur="4s"
        keyTimes="0; 0.9; 0.94; 1"
        repeatCount="indefinite"
        values="0 0; 0 -8; 0 0; 0 0"></animateTransform></path
    >
    <path
      d="M153.889 2.70508H113.11C109.554 2.70508 106.424 5.05337 105.429 8.46833L83.374 84.2064C81.8872 89.312 85.703 94.4203 91.0206 94.4431L105.131 94.5036C110.09 94.5249 113.836 99.0074 112.975 103.892L104.824 150.154C103.321 158.683 114.554 163.186 119.359 155.98L171.114 78.3512C174.658 73.0348 170.847 65.9134 164.458 65.9134H153.125C147.529 65.9134 143.662 60.3148 145.644 55.081L161.371 13.5375C163.352 8.30372 159.485 2.70508 153.889 2.70508Z"
      stroke={COLORS.white}
      stroke-width="4"
    >
      <animateTransform
        attributeName="transform"
        type="translate"
        dur="4s"
        keyTimes="0; 0.9; 0.94; 1"
        repeatCount="indefinite"
        values="0 0; 0 -8; 0 0; 0 0"></animateTransform></path
    >
  </g>
  <defs>
    <filter
      id="big-bolt-filter"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feDropShadow dx="4" dy="4" stdDeviation="0" flood-color={COLORS.orange}
      ></feDropShadow>
      <feDropShadow dx="4" dy="4" stdDeviation="0" flood-color={COLORS.red}
      ></feDropShadow>
    </filter>
  </defs>
</svg>
