---
import { COLORS } from "../constants";
---

<svg
  width="200px"
  height="100%"
  viewBox="0 0 201 201"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Cartoon magnifying glass inspecting binary code</title>
  <path
    d="M174.288 61.6186V50.6281L174.416 47.0071L171.534 49.3531L168.347 51.9031V48.7156L175.028 43.8196H176.991V61.6186H174.288ZM168.347 61.6186V59.3236H180.944V61.6186H168.347Z"
    fill={COLORS.black}></path>
  <path
    d="M190.873 61.6186V50.6281L191.001 47.0071L188.119 49.3531L184.932 51.9031V48.7156L191.613 43.8196H193.576V61.6186H190.873ZM184.932 61.6186V59.3236H197.529V61.6186H184.932Z"
    fill={COLORS.black}></path>
  <path
    d="M174.288 91.6186V80.6281L174.416 77.0071L171.534 79.3531L168.347 81.9031V78.7156L175.028 73.8196H176.991V91.6186H174.288ZM168.347 91.6186V89.3236H180.944V91.6186H168.347Z"
    fill={COLORS.black}></path>
  <path
    d="M190.873 91.6186V80.6281L191.001 77.0071L188.119 79.3531L184.932 81.9031V78.7156L191.613 73.8196H193.576V91.6186H190.873ZM184.932 91.6186V89.3236H197.529V91.6186H184.932Z"
    fill={COLORS.black}></path>
  <path
    d="M174.492 121.925C173.047 121.925 171.815 121.551 170.795 120.803C169.775 120.038 168.993 118.967 168.449 117.59C167.905 116.196 167.633 114.572 167.633 112.719C167.633 110.832 167.905 109.2 168.449 107.823C168.993 106.446 169.775 105.384 170.795 104.636C171.815 103.888 173.047 103.514 174.492 103.514C175.954 103.514 177.187 103.888 178.19 104.636C179.21 105.384 179.992 106.446 180.536 107.823C181.08 109.183 181.352 110.815 181.352 112.719C181.352 114.589 181.08 116.213 180.536 117.59C179.992 118.967 179.21 120.038 178.19 120.803C177.187 121.551 175.954 121.925 174.492 121.925ZM174.492 119.63C175.835 119.63 176.847 119.026 177.527 117.819C178.207 116.595 178.547 114.895 178.547 112.719C178.547 110.509 178.207 108.809 177.527 107.619C176.847 106.412 175.835 105.809 174.492 105.809C173.166 105.809 172.163 106.412 171.483 107.619C170.803 108.809 170.463 110.509 170.463 112.719C170.463 114.895 170.803 116.595 171.483 117.819C172.163 119.026 173.166 119.63 174.492 119.63Z"
    fill={COLORS.black}></path>
  <path
    d="M191.077 121.925C189.632 121.925 188.4 121.551 187.38 120.803C186.36 120.038 185.578 118.967 185.034 117.59C184.49 116.196 184.218 114.572 184.218 112.719C184.218 110.832 184.49 109.2 185.034 107.823C185.578 106.446 186.36 105.384 187.38 104.636C188.4 103.888 189.632 103.514 191.077 103.514C192.539 103.514 193.772 103.888 194.775 104.636C195.795 105.384 196.577 106.446 197.121 107.823C197.665 109.183 197.937 110.815 197.937 112.719C197.937 114.589 197.665 116.213 197.121 117.59C196.577 118.967 195.795 120.038 194.775 120.803C193.772 121.551 192.539 121.925 191.077 121.925ZM191.077 119.63C192.42 119.63 193.432 119.026 194.112 117.819C194.792 116.595 195.132 114.895 195.132 112.719C195.132 110.509 194.792 108.809 194.112 107.619C193.432 106.412 192.42 105.809 191.077 105.809C189.751 105.809 188.748 106.412 188.068 107.619C187.388 108.809 187.048 110.509 187.048 112.719C187.048 114.895 187.388 116.595 188.068 117.819C188.748 119.026 189.751 119.63 191.077 119.63Z"
    fill={COLORS.black}></path>
  <path
    d="M125.596 53.0506C123.556 53.0506 121.816 52.5226 120.376 51.4666C118.936 50.3866 117.832 48.8746 117.064 46.9306C116.296 44.9626 115.912 42.6706 115.912 40.0546C115.912 37.3906 116.296 35.0866 117.064 33.1426C117.832 31.1986 118.936 29.6986 120.376 28.6426C121.816 27.5866 123.556 27.0586 125.596 27.0586C127.66 27.0586 129.4 27.5866 130.816 28.6426C132.256 29.6986 133.36 31.1986 134.128 33.1426C134.896 35.0626 135.28 37.3666 135.28 40.0546C135.28 42.6946 134.896 44.9866 134.128 46.9306C133.36 48.8746 132.256 50.3866 130.816 51.4666C129.4 52.5226 127.66 53.0506 125.596 53.0506ZM125.596 49.8106C127.492 49.8106 128.92 48.9586 129.88 47.2546C130.84 45.5266 131.32 43.1266 131.32 40.0546C131.32 36.9346 130.84 34.5346 129.88 32.8546C128.92 31.1506 127.492 30.2986 125.596 30.2986C123.724 30.2986 122.308 31.1506 121.348 32.8546C120.388 34.5346 119.908 36.9346 119.908 40.0546C119.908 43.1266 120.388 45.5266 121.348 47.2546C122.308 48.9586 123.724 49.8106 125.596 49.8106Z"
    fill={COLORS.black}></path>
  <path
    d="M101.894 94.6186V79.1026L102.074 73.9906L98.0062 77.3026L93.5062 80.9026V76.4026L102.938 69.4906H105.71V94.6186H101.894ZM93.5062 94.6186V91.3786H111.29V94.6186H93.5062Z"
    fill={COLORS.black}></path>
  <path
    d="M125.596 95.0506C123.556 95.0506 121.816 94.5226 120.376 93.4666C118.936 92.3866 117.832 90.8746 117.064 88.9306C116.296 86.9626 115.912 84.6706 115.912 82.0546C115.912 79.3906 116.296 77.0866 117.064 75.1426C117.832 73.1986 118.936 71.6986 120.376 70.6426C121.816 69.5866 123.556 69.0586 125.596 69.0586C127.66 69.0586 129.4 69.5866 130.816 70.6426C132.256 71.6986 133.36 73.1986 134.128 75.1426C134.896 77.0626 135.28 79.3666 135.28 82.0546C135.28 84.6946 134.896 86.9866 134.128 88.9306C133.36 90.8746 132.256 92.3866 130.816 93.4666C129.4 94.5226 127.66 95.0506 125.596 95.0506ZM125.596 91.8106C127.492 91.8106 128.92 90.9586 129.88 89.2546C130.84 87.5266 131.32 85.1266 131.32 82.0546C131.32 78.9346 130.84 76.5346 129.88 74.8546C128.92 73.1506 127.492 72.2986 125.596 72.2986C123.724 72.2986 122.308 73.1506 121.348 74.8546C120.388 76.5346 119.908 78.9346 119.908 82.0546C119.908 85.1266 120.388 87.5266 121.348 89.2546C122.308 90.9586 123.724 91.8106 125.596 91.8106Z"
    fill={COLORS.black}></path>
  <path
    d="M148.722 94.6186V79.1026L148.902 73.9906L144.834 77.3026L140.334 80.9026V76.4026L149.766 69.4906H152.538V94.6186H148.722ZM140.334 94.6186V91.3786H158.118V94.6186H140.334Z"
    fill={COLORS.black}></path>
  <path
    d="M125.596 137.051C123.556 137.051 121.816 136.523 120.376 135.467C118.936 134.387 117.832 132.875 117.064 130.931C116.296 128.963 115.912 126.671 115.912 124.055C115.912 121.391 116.296 119.087 117.064 117.143C117.832 115.199 118.936 113.699 120.376 112.643C121.816 111.587 123.556 111.059 125.596 111.059C127.66 111.059 129.4 111.587 130.816 112.643C132.256 113.699 133.36 115.199 134.128 117.143C134.896 119.063 135.28 121.367 135.28 124.055C135.28 126.695 134.896 128.987 134.128 130.931C133.36 132.875 132.256 134.387 130.816 135.467C129.4 136.523 127.66 137.051 125.596 137.051ZM125.596 133.811C127.492 133.811 128.92 132.959 129.88 131.255C130.84 129.527 131.32 127.127 131.32 124.055C131.32 120.935 130.84 118.535 129.88 116.855C128.92 115.151 127.492 114.299 125.596 114.299C123.724 114.299 122.308 115.151 121.348 116.855C120.388 118.535 119.908 120.935 119.908 124.055C119.908 127.127 120.388 129.527 121.348 131.255C122.308 132.959 123.724 133.811 125.596 133.811Z"
    fill={COLORS.black}></path>
  <path
    d="M8.63987 61.6186V50.6281L8.76738 47.0071L5.88588 49.3531L2.69838 51.9031V48.7156L9.37938 43.8196H11.3429V61.6186H8.63987ZM2.69838 61.6186V59.3236H15.2954V61.6186H2.69838Z"
    fill={COLORS.black}></path>
  <path
    d="M25.2248 61.6186V50.6281L25.3523 47.0071L22.4708 49.3531L19.2833 51.9031V48.7156L25.9643 43.8196H27.9278V61.6186H25.2248ZM19.2833 61.6186V59.3236H31.8803V61.6186H19.2833Z"
    fill={COLORS.black}></path>
  <path
    d="M42.0138 61.9246C40.5688 61.9246 39.3363 61.5506 38.3163 60.8026C37.2963 60.0376 36.5143 58.9666 35.9703 57.5896C35.4263 56.1956 35.1543 54.5721 35.1543 52.7191C35.1543 50.8321 35.4263 49.2001 35.9703 47.8231C36.5143 46.4461 37.2963 45.3836 38.3163 44.6356C39.3363 43.8876 40.5688 43.5136 42.0138 43.5136C43.4758 43.5136 44.7083 43.8876 45.7113 44.6356C46.7313 45.3836 47.5133 46.4461 48.0573 47.8231C48.6013 49.1831 48.8733 50.8151 48.8733 52.7191C48.8733 54.5891 48.6013 56.2126 48.0573 57.5896C47.5133 58.9666 46.7313 60.0376 45.7113 60.8026C44.7083 61.5506 43.4758 61.9246 42.0138 61.9246ZM42.0138 59.6296C43.3568 59.6296 44.3683 59.0261 45.0483 57.8191C45.7283 56.5951 46.0683 54.8951 46.0683 52.7191C46.0683 50.5091 45.7283 48.8091 45.0483 47.6191C44.3683 46.4121 43.3568 45.8086 42.0138 45.8086C40.6878 45.8086 39.6848 46.4121 39.0048 47.6191C38.3248 48.8091 37.9848 50.5091 37.9848 52.7191C37.9848 54.8951 38.3248 56.5951 39.0048 57.8191C39.6848 59.0261 40.6878 59.6296 42.0138 59.6296Z"
    fill={COLORS.black}></path>
  <path
    d="M58.3948 61.6186V50.6281L58.5223 47.0071L55.6408 49.3531L52.4533 51.9031V48.7156L59.1343 43.8196H61.0978V61.6186H58.3948ZM52.4533 61.6186V59.3236H65.0503V61.6186H52.4533Z"
    fill={COLORS.black}></path>
  <path
    d="M75.1837 61.9246C73.7387 61.9246 72.5062 61.5506 71.4862 60.8026C70.4662 60.0376 69.6842 58.9666 69.1402 57.5896C68.5962 56.1956 68.3242 54.5721 68.3242 52.7191C68.3242 50.8321 68.5962 49.2001 69.1402 47.8231C69.6842 46.4461 70.4662 45.3836 71.4862 44.6356C72.5062 43.8876 73.7387 43.5136 75.1837 43.5136C76.6457 43.5136 77.8782 43.8876 78.8812 44.6356C79.9012 45.3836 80.6832 46.4461 81.2272 47.8231C81.7712 49.1831 82.0432 50.8151 82.0432 52.7191C82.0432 54.5891 81.7712 56.2126 81.2272 57.5896C80.6832 58.9666 79.9012 60.0376 78.8812 60.8026C77.8782 61.5506 76.6457 61.9246 75.1837 61.9246ZM75.1837 59.6296C76.5267 59.6296 77.5382 59.0261 78.2182 57.8191C78.8982 56.5951 79.2382 54.8951 79.2382 52.7191C79.2382 50.5091 78.8982 48.8091 78.2182 47.6191C77.5382 46.4121 76.5267 45.8086 75.1837 45.8086C73.8577 45.8086 72.8547 46.4121 72.1747 47.6191C71.4947 48.8091 71.1547 50.5091 71.1547 52.7191C71.1547 54.8951 71.4947 56.5951 72.1747 57.8191C72.8547 59.0261 73.8577 59.6296 75.1837 59.6296Z"
    fill={COLORS.black}></path>
  <path
    d="M8.63987 91.6186V80.6281L8.76738 77.0071L5.88588 79.3531L2.69838 81.9031V78.7156L9.37938 73.8196H11.3429V91.6186H8.63987ZM2.69838 91.6186V89.3236H15.2954V91.6186H2.69838Z"
    fill={COLORS.black}></path>
  <path
    d="M25.4288 91.9246C23.9838 91.9246 22.7513 91.5506 21.7313 90.8026C20.7113 90.0376 19.9293 88.9666 19.3853 87.5896C18.8413 86.1956 18.5693 84.5721 18.5693 82.7191C18.5693 80.8321 18.8413 79.2001 19.3853 77.8231C19.9293 76.4461 20.7113 75.3836 21.7313 74.6356C22.7513 73.8876 23.9838 73.5136 25.4288 73.5136C26.8908 73.5136 28.1233 73.8876 29.1263 74.6356C30.1463 75.3836 30.9283 76.4461 31.4723 77.8231C32.0163 79.1831 32.2883 80.8151 32.2883 82.7191C32.2883 84.5891 32.0163 86.2126 31.4723 87.5896C30.9283 88.9666 30.1463 90.0376 29.1263 90.8026C28.1233 91.5506 26.8908 91.9246 25.4288 91.9246ZM25.4288 89.6296C26.7718 89.6296 27.7833 89.0261 28.4633 87.8191C29.1433 86.5951 29.4833 84.8951 29.4833 82.7191C29.4833 80.5091 29.1433 78.8091 28.4633 77.6191C27.7833 76.4121 26.7718 75.8086 25.4288 75.8086C24.1028 75.8086 23.0998 76.4121 22.4198 77.6191C21.7398 78.8091 21.3998 80.5091 21.3998 82.7191C21.3998 84.8951 21.7398 86.5951 22.4198 87.8191C23.0998 89.0261 24.1028 89.6296 25.4288 89.6296Z"
    fill={COLORS.black}></path>
  <path
    d="M42.0138 91.9246C40.5688 91.9246 39.3363 91.5506 38.3163 90.8026C37.2963 90.0376 36.5143 88.9666 35.9703 87.5896C35.4263 86.1956 35.1543 84.5721 35.1543 82.7191C35.1543 80.8321 35.4263 79.2001 35.9703 77.8231C36.5143 76.4461 37.2963 75.3836 38.3163 74.6356C39.3363 73.8876 40.5688 73.5136 42.0138 73.5136C43.4758 73.5136 44.7083 73.8876 45.7113 74.6356C46.7313 75.3836 47.5133 76.4461 48.0573 77.8231C48.6013 79.1831 48.8733 80.8151 48.8733 82.7191C48.8733 84.5891 48.6013 86.2126 48.0573 87.5896C47.5133 88.9666 46.7313 90.0376 45.7113 90.8026C44.7083 91.5506 43.4758 91.9246 42.0138 91.9246ZM42.0138 89.6296C43.3568 89.6296 44.3683 89.0261 45.0483 87.8191C45.7283 86.5951 46.0683 84.8951 46.0683 82.7191C46.0683 80.5091 45.7283 78.8091 45.0483 77.6191C44.3683 76.4121 43.3568 75.8086 42.0138 75.8086C40.6878 75.8086 39.6848 76.4121 39.0048 77.6191C38.3248 78.8091 37.9848 80.5091 37.9848 82.7191C37.9848 84.8951 38.3248 86.5951 39.0048 87.8191C39.6848 89.0261 40.6878 89.6296 42.0138 89.6296Z"
    fill={COLORS.black}></path>
  <path
    d="M58.3948 91.6186V80.6281L58.5223 77.0071L55.6408 79.3531L52.4533 81.9031V78.7156L59.1343 73.8196H61.0978V91.6186H58.3948ZM52.4533 91.6186V89.3236H65.0503V91.6186H52.4533Z"
    fill={COLORS.black}></path>
  <path
    d="M74.9797 91.6186V80.6281L75.1072 77.0071L72.2257 79.3531L69.0382 81.9031V78.7156L75.7192 73.8196H77.6827V91.6186H74.9797ZM69.0382 91.6186V89.3236H81.6352V91.6186H69.0382Z"
    fill={COLORS.black}></path>
  <path
    d="M8.84388 121.925C7.39888 121.925 6.16638 121.551 5.14638 120.803C4.12638 120.038 3.34438 118.967 2.80038 117.59C2.25638 116.196 1.98438 114.572 1.98438 112.719C1.98438 110.832 2.25638 109.2 2.80038 107.823C3.34438 106.446 4.12638 105.384 5.14638 104.636C6.16638 103.888 7.39888 103.514 8.84388 103.514C10.3059 103.514 11.5384 103.888 12.5414 104.636C13.5614 105.384 14.3434 106.446 14.8874 107.823C15.4314 109.183 15.7034 110.815 15.7034 112.719C15.7034 114.589 15.4314 116.213 14.8874 117.59C14.3434 118.967 13.5614 120.038 12.5414 120.803C11.5384 121.551 10.3059 121.925 8.84388 121.925ZM8.84388 119.63C10.1869 119.63 11.1984 119.026 11.8784 117.819C12.5584 116.595 12.8984 114.895 12.8984 112.719C12.8984 110.509 12.5584 108.809 11.8784 107.619C11.1984 106.412 10.1869 105.809 8.84388 105.809C7.51788 105.809 6.51488 106.412 5.83488 107.619C5.15488 108.809 4.81488 110.509 4.81488 112.719C4.81488 114.895 5.15488 116.595 5.83488 117.819C6.51488 119.026 7.51788 119.63 8.84388 119.63Z"
    fill={COLORS.black}></path>
  <path
    d="M25.2248 121.619V110.628L25.3523 107.007L22.4708 109.353L19.2833 111.903V108.716L25.9643 103.82H27.9278V121.619H25.2248ZM19.2833 121.619V119.324H31.8803V121.619H19.2833Z"
    fill={COLORS.black}></path>
  <path
    d="M41.8098 121.619V110.628L41.9373 107.007L39.0558 109.353L35.8683 111.903V108.716L42.5493 103.82H44.5128V121.619H41.8098ZM35.8683 121.619V119.324H48.4653V121.619H35.8683Z"
    fill={COLORS.black}></path>
  <path
    d="M58.5988 121.925C57.1538 121.925 55.9213 121.551 54.9013 120.803C53.8813 120.038 53.0993 118.967 52.5553 117.59C52.0113 116.196 51.7393 114.572 51.7393 112.719C51.7393 110.832 52.0113 109.2 52.5553 107.823C53.0993 106.446 53.8813 105.384 54.9013 104.636C55.9213 103.888 57.1538 103.514 58.5988 103.514C60.0608 103.514 61.2933 103.888 62.2963 104.636C63.3163 105.384 64.0983 106.446 64.6423 107.823C65.1863 109.183 65.4583 110.815 65.4583 112.719C65.4583 114.589 65.1863 116.213 64.6423 117.59C64.0983 118.967 63.3163 120.038 62.2963 120.803C61.2933 121.551 60.0608 121.925 58.5988 121.925ZM58.5988 119.63C59.9418 119.63 60.9533 119.026 61.6333 117.819C62.3133 116.595 62.6533 114.895 62.6533 112.719C62.6533 110.509 62.3133 108.809 61.6333 107.619C60.9533 106.412 59.9418 105.809 58.5988 105.809C57.2728 105.809 56.2698 106.412 55.5898 107.619C54.9098 108.809 54.5698 110.509 54.5698 112.719C54.5698 114.895 54.9098 116.595 55.5898 117.819C56.2698 119.026 57.2728 119.63 58.5988 119.63Z"
    fill={COLORS.black}></path>
  <path
    d="M75.1837 121.925C73.7387 121.925 72.5062 121.551 71.4862 120.803C70.4662 120.038 69.6842 118.967 69.1402 117.59C68.5962 116.196 68.3242 114.572 68.3242 112.719C68.3242 110.832 68.5962 109.2 69.1402 107.823C69.6842 106.446 70.4662 105.384 71.4862 104.636C72.5062 103.888 73.7387 103.514 75.1837 103.514C76.6457 103.514 77.8782 103.888 78.8812 104.636C79.9012 105.384 80.6832 106.446 81.2272 107.823C81.7712 109.183 82.0432 110.815 82.0432 112.719C82.0432 114.589 81.7712 116.213 81.2272 117.59C80.6832 118.967 79.9012 120.038 78.8812 120.803C77.8782 121.551 76.6457 121.925 75.1837 121.925ZM75.1837 119.63C76.5267 119.63 77.5382 119.026 78.2182 117.819C78.8982 116.595 79.2382 114.895 79.2382 112.719C79.2382 110.509 78.8982 108.809 78.2182 107.619C77.5382 106.412 76.5267 105.809 75.1837 105.809C73.8577 105.809 72.8547 106.412 72.1747 107.619C71.4947 108.809 71.1547 110.509 71.1547 112.719C71.1547 114.895 71.4947 116.595 72.1747 117.819C72.8547 119.026 73.8577 119.63 75.1837 119.63Z"
    fill={COLORS.black}></path>
  <g filter="url(#mag-filter)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M179.555 77.6413C179.555 108.863 154.245 134.173 123.023 134.173C109.104 134.173 96.3605 129.143 86.5102 120.802C85.706 120.103 85.0098 119.486 84.3624 118.888C83.1925 117.79 82.0692 116.644 80.9959 115.452C80.6346 115.047 80.2561 114.613 79.8508 114.14C71.5163 104.292 66.491 91.5534 66.491 77.6413C66.491 46.4196 91.8012 21.1094 123.023 21.1094C154.245 21.1094 179.555 46.4196 179.555 77.6413ZM123.023 115.814C102.285 115.814 84.6635 98.192 84.6635 77.4543C84.6635 56.7167 102.285 39.0949 123.023 39.0949C143.76 39.0949 161.382 56.7167 161.382 77.4543C161.382 98.192 143.76 115.814 123.023 115.814Z"
      fill={COLORS.purpleLight}
    >
      <animateTransform
        attributeName="transform"
        calcMode="spline"
        type="rotate"
        dur="8s"
        keyTimes="0; 0.2; 0.3; 0.45; 0.55; 1"
        keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
        repeatCount="indefinite"
        values="0 122.51 77.5; 15 122.51 77.5; 15 122.51 77.5; -7 122.51 77.5; -7 122.51 77.5; 0 122.51 77.5"
      ></animateTransform>
    </path>
    <path
      d="M71.3295 121.91L71.7051 122.286L79.8508 114.14C80.2259 114.583 80.6076 115.021 80.9959 115.452C82.1909 116.79 83.1978 117.81 84.3624 118.888C84.3624 118.888 85.778 120.182 86.5102 120.802L86.5241 120.814L78.3788 128.959L78.7538 129.334C80.4687 131.049 80.4687 133.829 78.754 135.544L37.7606 176.537C34.3312 179.967 28.7709 179.967 25.3415 176.537L24.1268 175.323C20.6973 171.893 20.6973 166.333 24.1268 162.903L65.1199 121.91C66.8347 120.195 69.6148 120.195 71.3295 121.91Z"
      fill={COLORS.purpleLight}
    >
      <animateTransform
        attributeName="transform"
        calcMode="spline"
        type="rotate"
        dur="8s"
        keyTimes="0; 0.2; 0.3; 0.45; 0.55; 1"
        keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
        repeatCount="indefinite"
        values="0 122.51 77.5; 15 122.51 77.5; 15 122.51 77.5; -7 122.51 77.5; -7 122.51 77.5; 0 122.51 77.5"
      ></animateTransform>
    </path>
    <path
      d="M66.491 77.6413C66.491 46.4196 91.8012 21.1094 123.023 21.1094C154.245 21.1094 179.555 46.4196 179.555 77.6413C179.555 108.863 154.245 134.173 123.023 134.173C109.104 134.173 96.3605 129.143 86.5102 120.802M66.491 77.6413C66.491 92.1795 71.9788 105.436 80.9959 115.452M66.491 77.6413C66.491 91.5534 71.5163 104.292 79.8508 114.14M79.8508 114.14L71.7051 122.286L71.3295 121.91C69.6148 120.195 66.8347 120.195 65.1199 121.91L24.1268 162.903C20.6973 166.333 20.6973 171.893 24.1268 175.323L25.3415 176.537C28.7709 179.967 34.3312 179.967 37.7606 176.537L78.754 135.544C80.4687 133.829 80.4687 131.049 78.7538 129.334L78.3788 128.959L86.5241 120.814M79.8508 114.14C80.2259 114.583 80.6076 115.021 80.9959 115.452M79.8508 114.14C80.2561 114.613 80.6346 115.047 80.9959 115.452M86.5241 120.814C86.5195 120.81 86.5148 120.806 86.5102 120.802M86.5241 120.814L86.5102 120.802M80.9959 115.452C82.1909 116.79 83.1978 117.81 84.3624 118.888M80.9959 115.452C82.0692 116.644 83.1925 117.79 84.3624 118.888M84.3624 118.888C84.3624 118.888 85.778 120.182 86.5102 120.802M84.3624 118.888C85.0098 119.486 85.706 120.103 86.5102 120.802M84.6635 77.4543C84.6635 98.192 102.285 115.814 123.023 115.814C143.76 115.814 161.382 98.192 161.382 77.4543C161.382 56.7167 143.76 39.0949 123.023 39.0949C102.285 39.0949 84.6635 56.7167 84.6635 77.4543Z"
      stroke={COLORS.white}
      stroke-width="4"
      ><animateTransform
        attributeName="transform"
        calcMode="spline"
        type="rotate"
        dur="8s"
        keyTimes="0; 0.2; 0.3; 0.45; 0.55; 1"
        keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
        repeatCount="indefinite"
        values="0 122.51 77.5; 15 122.51 77.5; 15 122.51 77.5; -7 122.51 77.5; -7 122.51 77.5; 0 122.51 77.5"
      ></animateTransform>
    </path>
  </g>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M123.055 118.109C101.16 118.109 82.5547 99.5042 82.5547 77.6094C82.5547 55.7146 101.16 37.1094 123.055 37.1094C144.95 37.1094 163.555 55.7146 163.555 77.6094C163.555 99.5042 144.95 118.109 123.055 118.109Z"
    fill={COLORS.purpleLight}
    fill-opacity="0.3"
    ><animateTransform
      attributeName="transform"
      calcMode="spline"
      type="rotate"
      dur="8s"
      keyTimes="0; 0.2; 0.3; 0.45; 0.55; 1"
      keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
      repeatCount="indefinite"
      values="0 122.51 77.5; 15 122.51 77.5; 15 122.51 77.5; -7 122.51 77.5; -7 122.51 77.5; 0 122.51 77.5"
    >
    </animateTransform>
  </path>
  <defs>
    <filter
      id="mag-filter"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feDropShadow dx="4" dy="4" stdDeviation="0" flood-color={COLORS.red}
      ></feDropShadow>
      <feDropShadow dx="4" dy="4" stdDeviation="0" flood-color={COLORS.purple}
      ></feDropShadow>
    </filter>
  </defs>
</svg>
