---
import { COLORS } from "../constants";
---

<svg
  width="100%"
  height="300px"
  viewBox="0 0 850 301"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Neon Carrot</title>
  <path
    d="M264.584 187.614H252.731V156.406C252.731 151.223 251.87 147.424 250.146 145.01C248.493 142.595 246.015 141.388 242.711 141.388C240.413 141.388 238.114 141.956 235.815 143.092C233.589 144.229 231.577 145.791 229.782 147.779C227.986 149.696 226.693 151.933 225.903 154.489V187.614H214.051V131.909H224.825V143.092C226.262 140.607 228.13 138.477 230.428 136.702C232.799 134.856 235.456 133.436 238.401 132.441C241.346 131.447 244.471 130.95 247.775 130.95C251.151 130.95 253.917 131.554 256.072 132.761C258.298 133.968 260.022 135.637 261.243 137.767C262.536 139.826 263.398 142.24 263.829 145.01C264.332 147.708 264.584 150.584 264.584 153.637V187.614ZM303.877 188.679C299.495 188.679 295.509 187.933 291.917 186.442C288.397 184.88 285.345 182.785 282.759 180.158C280.173 177.46 278.162 174.406 276.725 170.998C275.36 167.519 274.678 163.826 274.678 159.921C274.678 154.667 275.899 149.874 278.341 145.542C280.783 141.14 284.195 137.625 288.577 134.998C292.959 132.299 298.095 130.95 303.985 130.95C309.875 130.95 314.939 132.299 319.177 134.998C323.487 137.625 326.827 141.104 329.197 145.436C331.567 149.767 332.753 154.418 332.753 159.389C332.753 160.241 332.717 161.057 332.645 161.838C332.573 162.548 332.501 163.152 332.429 163.649H287.284C287.5 166.915 288.397 169.791 289.978 172.276C291.63 174.691 293.713 176.608 296.227 178.028C298.741 179.377 301.435 180.052 304.308 180.052C307.468 180.052 310.449 179.27 313.251 177.708C316.124 176.146 318.063 174.087 319.069 171.531L329.197 174.406C327.976 177.105 326.108 179.554 323.594 181.756C321.152 183.886 318.243 185.59 314.867 186.868C311.491 188.075 307.828 188.679 303.877 188.679ZM286.961 155.874H321.008C320.793 152.678 319.859 149.874 318.207 147.459C316.627 144.974 314.58 143.057 312.066 141.708C309.623 140.288 306.894 139.578 303.877 139.578C300.932 139.578 298.202 140.288 295.688 141.708C293.246 143.057 291.235 144.974 289.654 147.459C288.074 149.874 287.176 152.678 286.961 155.874ZM367.74 188.679C363.287 188.679 359.3 187.933 355.781 186.442C352.261 184.88 349.208 182.75 346.622 180.052C344.108 177.353 342.169 174.3 340.804 170.892C339.439 167.412 338.757 163.72 338.757 159.815C338.757 155.909 339.439 152.217 340.804 148.737C342.169 145.258 344.108 142.205 346.622 139.578C349.208 136.879 352.261 134.785 355.781 133.293C359.372 131.731 363.359 130.95 367.74 130.95C372.122 130.95 376.073 131.731 379.592 133.293C383.184 134.785 386.237 136.879 388.751 139.578C391.337 142.205 393.312 145.258 394.677 148.737C396.042 152.217 396.724 155.909 396.724 159.815C396.724 163.72 396.042 167.412 394.677 170.892C393.312 174.3 391.337 177.353 388.751 180.052C386.237 182.75 383.184 184.88 379.592 186.442C376.073 187.933 372.122 188.679 367.74 188.679ZM350.932 159.921C350.932 163.471 351.686 166.667 353.195 169.507C354.703 172.347 356.714 174.584 359.228 176.217C361.743 177.85 364.58 178.667 367.74 178.667C370.829 178.667 373.63 177.85 376.145 176.217C378.73 174.513 380.778 172.241 382.286 169.401C383.794 166.489 384.549 163.294 384.549 159.815C384.549 156.264 383.794 153.069 382.286 150.229C380.778 147.388 378.73 145.152 376.145 143.518C373.63 141.814 370.829 140.962 367.74 140.962C364.58 140.962 361.743 141.814 359.228 143.518C356.714 145.223 354.703 147.495 353.195 150.335C351.686 153.104 350.932 156.3 350.932 159.921ZM457.769 187.614H445.917V156.406C445.917 151.223 445.055 147.424 443.331 145.01C441.679 142.595 439.201 141.388 435.896 141.388C433.598 141.388 431.299 141.956 429.001 143.092C426.774 144.229 424.763 145.791 422.967 147.779C421.171 149.696 419.878 151.933 419.088 154.489V187.614H407.236V131.909H418.011V143.092C419.447 140.607 421.315 138.477 423.613 136.702C425.984 134.856 428.642 133.436 431.587 132.441C434.532 131.447 437.656 130.95 440.96 130.95C444.337 130.95 447.102 131.554 449.257 132.761C451.484 133.968 453.208 135.637 454.429 137.767C455.722 139.826 456.584 142.24 457.015 145.01C457.517 147.708 457.769 150.584 457.769 153.637V187.614ZM496.63 188.679C492.752 188.679 489.124 187.933 485.748 186.442C482.372 184.88 479.427 182.785 476.913 180.158C474.399 177.46 472.424 174.371 470.987 170.892C469.622 167.412 468.94 163.684 468.94 159.708C468.94 154.383 470.125 149.59 472.495 145.329C474.866 141.069 478.134 137.66 482.3 135.104C486.466 132.548 491.207 131.27 496.523 131.27C501.623 131.27 506.112 132.441 509.991 134.785C513.87 137.057 516.779 140.181 518.718 144.158L513.439 145.862C511.787 142.808 509.416 140.43 506.328 138.726C503.311 136.95 499.971 136.063 496.307 136.063C492.213 136.063 488.514 137.092 485.209 139.152C481.905 141.211 479.247 144.051 477.236 147.672C475.297 151.223 474.327 155.235 474.327 159.708C474.327 164.11 475.333 168.158 477.344 171.85C479.355 175.543 482.013 178.489 485.317 180.691C488.693 182.821 492.392 183.886 496.415 183.886C499.001 183.886 501.515 183.424 503.957 182.501C506.471 181.507 508.626 180.229 510.422 178.667C512.29 177.105 513.511 175.436 514.085 173.661L519.365 175.152C518.431 177.779 516.815 180.123 514.516 182.182C512.218 184.17 509.524 185.768 506.435 186.975C503.418 188.111 500.15 188.679 496.63 188.679ZM526.898 171.637C526.898 168.3 527.904 165.424 529.915 163.01C531.926 160.525 534.692 158.607 538.211 157.258C541.731 155.838 545.789 155.128 550.387 155.128C553.26 155.128 556.241 155.377 559.329 155.874C562.418 156.371 565.184 157.045 567.626 157.897V152.678C567.626 147.566 566.117 143.483 563.101 140.43C560.156 137.376 556.061 135.85 550.818 135.85C548.016 135.85 545.107 136.418 542.09 137.554C539.073 138.69 535.985 140.323 532.824 142.453L530.561 138.619C534.225 136.205 537.744 134.394 541.12 133.187C544.568 131.909 547.98 131.27 551.356 131.27C558.037 131.27 563.316 133.222 567.195 137.128C571.074 141.033 573.013 146.359 573.013 153.104V180.584C573.013 181.436 573.193 182.075 573.552 182.501C573.983 182.927 574.593 183.176 575.384 183.247V187.614C574.737 187.685 574.198 187.72 573.767 187.72C573.336 187.72 572.977 187.72 572.69 187.72C571.325 187.507 570.248 186.939 569.458 186.016C568.739 185.093 568.344 184.063 568.272 182.927V178.56C565.686 181.756 562.346 184.241 558.252 186.016C554.23 187.791 549.992 188.679 545.538 188.679C542.018 188.679 538.822 187.933 535.949 186.442C533.147 184.951 530.921 182.927 529.268 180.371C527.688 177.744 526.898 174.833 526.898 171.637ZM565.471 176.217C566.189 175.294 566.728 174.406 567.087 173.554C567.446 172.702 567.626 171.921 567.626 171.211V162.051C565.04 161.057 562.346 160.312 559.545 159.815C556.744 159.318 553.87 159.069 550.925 159.069C545.323 159.069 540.761 160.17 537.242 162.371C533.794 164.572 532.07 167.554 532.07 171.318C532.07 173.661 532.68 175.827 533.902 177.815C535.123 179.803 536.811 181.401 538.966 182.608C541.192 183.815 543.742 184.418 546.616 184.418C550.638 184.418 554.337 183.673 557.713 182.182C561.161 180.62 563.747 178.631 565.471 176.217ZM615.908 137.021C610.88 137.163 606.463 138.655 602.656 141.495C598.921 144.264 596.299 148.098 594.79 152.998V187.614H589.403V132.228H594.575V145.862C596.514 141.956 599.1 138.797 602.332 136.382C605.565 133.897 608.977 132.477 612.568 132.122C613.287 132.051 613.933 132.015 614.508 132.015C615.082 132.015 615.549 132.015 615.908 132.015V137.021ZM652.63 137.021C647.602 137.163 643.184 138.655 639.377 141.495C635.642 144.264 633.02 148.098 631.512 152.998V187.614H626.124V132.228H631.296V145.862C633.235 141.956 635.821 138.797 639.054 136.382C642.286 133.897 645.698 132.477 649.29 132.122C650.008 132.051 650.654 132.015 651.229 132.015C651.804 132.015 652.271 132.015 652.63 132.015V137.021ZM684.125 188.679C680.175 188.679 676.511 187.933 673.135 186.442C669.831 184.951 666.958 182.892 664.516 180.265C662.073 177.566 660.17 174.478 658.805 170.998C657.44 167.519 656.758 163.862 656.758 160.028C656.758 156.122 657.44 152.465 658.805 149.057C660.17 145.578 662.073 142.524 664.516 139.897C667.03 137.199 669.939 135.104 673.243 133.613C676.619 132.051 680.246 131.27 684.125 131.27C688.004 131.27 691.596 132.051 694.9 133.613C698.204 135.104 701.113 137.199 703.627 139.897C706.141 142.524 708.081 145.578 709.446 149.057C710.81 152.465 711.493 156.122 711.493 160.028C711.493 163.862 710.81 167.519 709.446 170.998C708.081 174.478 706.141 177.566 703.627 180.265C701.185 182.892 698.276 184.951 694.9 186.442C691.596 187.933 688.004 188.679 684.125 188.679ZM662.145 160.241C662.145 164.572 663.115 168.548 665.054 172.17C667.066 175.72 669.723 178.56 673.027 180.691C676.332 182.821 679.995 183.886 684.018 183.886C688.04 183.886 691.703 182.821 695.008 180.691C698.384 178.489 701.041 175.578 702.981 171.957C704.992 168.264 705.998 164.253 705.998 159.921C705.998 155.59 704.992 151.613 702.981 147.992C701.041 144.371 698.384 141.495 695.008 139.365C691.703 137.163 688.076 136.063 684.125 136.063C680.103 136.063 676.439 137.163 673.135 139.365C669.831 141.566 667.173 144.477 665.162 148.098C663.151 151.72 662.145 155.767 662.145 160.241ZM748.661 184.951C748.302 185.093 747.583 185.448 746.506 186.016C745.428 186.584 744.064 187.117 742.412 187.614C740.759 188.04 738.928 188.253 736.916 188.253C734.977 188.253 733.145 187.898 731.421 187.188C729.769 186.407 728.441 185.271 727.435 183.779C726.429 182.288 725.926 180.478 725.926 178.347V136.595H718.061V132.228H725.926V113.27H731.314V132.228H744.351V136.595H731.314V177.069C731.457 179.128 732.212 180.691 733.576 181.756C734.941 182.75 736.521 183.247 738.317 183.247C740.544 183.247 742.483 182.892 744.135 182.182C745.788 181.401 746.757 180.904 747.045 180.691L748.661 184.951Z"
    fill={COLORS.white}></path>
  <rect
    class="rect"
    xmlns="http://www.w3.org/2000/svg"
    x="0"
    y="0"
    width="850"
    height="300"
    fill={COLORS.orangeDesat}
  >
    <animate
      attributeName="width"
      calcMode="spline"
      fill="freeze"
      dur="3s"
      keyTimes="0; 0.2; 0.7; 1"
      keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
      values="850; 850; 780; 150"></animate>
  </rect>
  <path
    d="M544.458 82.3587V82.3568C544.482 78.2751 542.745 74.386 539.689 71.6673C539.689 71.6672 539.689 71.667 539.689 71.6668L490.143 27.5665L490.142 27.5659C487.092 24.852 483.025 23.5632 478.962 24.0112L479.401 27.9871L478.962 24.0112L447.476 27.484C442.948 27.9835 438.911 30.5881 436.622 34.5251L436.622 34.5256L307.535 256.593L310.994 258.603L307.535 256.593C299.668 270.126 316.054 284.069 328.376 275.257L326.049 272.003L328.376 275.257L538.292 125.137C542.002 122.487 544.227 118.233 544.255 113.676L544.458 82.3587Z"
    fill={COLORS.white}
    stroke={COLORS.white}
    stroke-width="12"
    transform-origin="center"
  >
    <animateTransform
      attributeName="transform"
      calcMode="spline"
      fill="freeze"
      type="translate"
      dur="3s"
      keyTimes="0; 0.2; 0.7; 1"
      keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
      values="0 0; 0 0; 365 0; -282 0"></animateTransform>
    <animateTransform
      additive="sum"
      attributeName="transform"
      calcMode="spline"
      fill="freeze"
      type="scale"
      dur="3s"
      keyTimes="0; 0.2; 0.7; 1"
      keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
      values="1; 1; 0.4; 0.4"></animateTransform>
    <animate
      attributeName="stroke-width"
      calcMode="spline"
      fill="freeze"
      dur="3s"
      keyTimes="0; 0.2; 0.7; 1"
      keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
      values="12; 12; 12; 0"></animate>
  </path>
  <path
    d="M544.458 82.3587V82.3568C544.482 78.2751 542.745 74.386 539.689 71.6673C539.689 71.6672 539.689 71.667 539.689 71.6668L490.143 27.5665L490.142 27.5659C487.092 24.852 483.025 23.5632 478.962 24.0112L479.401 27.9871L478.962 24.0112L447.476 27.484C442.948 27.9835 438.911 30.5881 436.622 34.5251L436.622 34.5256L307.535 256.593L310.994 258.603L307.535 256.593C299.668 270.126 316.054 284.069 328.376 275.257L326.049 272.003L328.376 275.257L538.292 125.137C542.002 122.487 544.227 118.233 544.255 113.676L544.458 82.3587Z"
    fill="url(#paint0_linear_653_376)"
    transform-origin="center"
  >
    <animateTransform
      attributeName="transform"
      calcMode="spline"
      fill="freeze"
      type="translate"
      dur="3s"
      keyTimes="0; 0.2; 0.7; 1"
      keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
      values="0 0; 0 0; 365 0; -282 0"></animateTransform>
    <animateTransform
      additive="sum"
      attributeName="transform"
      calcMode="spline"
      fill="freeze"
      type="scale"
      dur="3s"
      keyTimes="0; 0.2; 0.7; 1"
      keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
      values="1; 1; 0.4; 0.4"></animateTransform>
    <animate
      attributeName="stroke-width"
      calcMode="spline"
      fill="freeze"
      dur="3s"
      keyTimes="0; 0.2; 0.7; 1"
      keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
      values="12; 12; 12; 0"></animate>
  </path>
  <defs>
    <linearGradient
      id="paint0_linear_653_376"
      x1="304.536"
      y1="256.845"
      x2="349.632"
      y2="53.8887"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color={COLORS.purple}>
        <animate
          attributeName="stop-color"
          values={`${COLORS.purple}; ${COLORS.purple}; ${COLORS.white}`}
          dur="1.5s"
          fill="freeze"
        >
        </animate></stop
      >
      <stop offset="0.44" stop-color={COLORS.purple}>
        <animate
          attributeName="stop-color"
          values={`${COLORS.purple}; ${COLORS.purple}; ${COLORS.white}`}
          dur="1.5s"
          fill="freeze"
        >
        </animate>
      </stop>
      <stop offset="0.45" stop-color={COLORS.red}>
        <animate
          attributeName="stop-color"
          values={`${COLORS.red}; ${COLORS.red}; ${COLORS.white}`}
          dur="1.5s"
          fill="freeze"
        >
        </animate></stop
      >
      <stop offset="0.60" stop-color={COLORS.red}>
        <animate
          attributeName="stop-color"
          values={`${COLORS.red}; ${COLORS.red}; ${COLORS.white}`}
          dur="1.5s"
          fill="freeze"
        >
        </animate></stop
      >
      <stop offset="0.61" stop-color={COLORS.orange}>
        <animate
          attributeName="stop-color"
          values={`${COLORS.orange}; ${COLORS.orange}; ${COLORS.white}`}
          dur="1.5s"
          fill="freeze"
        >
        </animate></stop
      >
    </linearGradient>
  </defs>
</svg>
